{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}
 :paths ["src"]
 :aliases
 {:nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  :build {:extra-deps {pack/pack.alpha
                       {:git/url "https://github.com/juxt/pack.alpha.git"
                        :sha "dccf2134bcf03726a9465d2b9997c42e5cd91bff"}}
          :main-opts ["-m" "mach.pack.alpha.capsule citadel.jar"
                      "-m" "citadel.core"]}}}
